*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: black;
  text-align: center;
  overflow-x: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  outline: none;
}

h1 {
  font-family: "Montserrat ExtraBold", sans-serif;
  font-size: 61px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.48) 0%,
    rgba(255, 255, 255, 0.9) 50%,
    rgba(255, 255, 255, 0.48) 100%
  );
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

h5 {
  font-family: "Montserrat Medium", sans-serif;
  font-size: 25px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.24) 0%,
    rgba(255, 255, 255, 0.48) 50%,
    rgba(255, 255, 255, 0.24) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.highlight {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.3);
  transition: -webkit-text-fill-color 0.3s ease;
  cursor: pointer;
}

.highlight:hover {
  -webkit-text-fill-color: white;
}

.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
  visibility: hidden;
}

.fade-in-up.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  will-change: opacity, transform;
}
